<form method="post" action="{{ path('app_offer_delete', {'id': offer.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer cette offre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offer.id) }}">
    <button class="btn">Supprimer</button>
</form>
