{% extends './security/backoffice/base.html.twig' %}

{% block content %}
    <div class="home-con">
        <h1>Ajouter une nouvelle offre</h1>

        {{ include('security/backoffice/manage_offers/_form.html.twig') }}

        <div class="return-link">
            <a href="{{ path('manage_offers') }}">< Retourner aux offres</a>
        </div>
    </div>
{% endblock %}
