{% extends "security/backoffice/base.html.twig" %}

{% block content %}
{# formulaire question #}
{# formulaire propositions #}
<div class="return-link">
    <a href="{{ path('manage_survey') }}">< Retourner au sondage</a>
</div>

{% endblock %}