{% set jsProposals = {} %}
{% set emptyAnswer = true %}

{% for proposal in proposals %}
    {% set temp = 0 %}
    {% set prop = proposal.getTextProposal() %}

    {% for answer in proposal.getAnswers() %}
        {% set temp = temp + 1 %}
    {% endfor %}

    {% set jsProposals = jsProposals|merge({(prop): temp}) %}

    {% if temp != 0 %}
        {% set emptyAnswer = false %}
    {% endif %}
{% endfor %}

<div>
  {% if emptyAnswer == true %}
    <p>Aucune réponse n'a encore été fournie</p>
  {% endif %}
  <canvas id="doughnut"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const data = {{ jsProposals|json_encode()|raw }};
    const labels = Object.keys(data);
    const values = Object.values(data);
    const ctx = document.getElementById('doughnut');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                label: '# de Votes',
                data: values,
                borderWidth: 1
            }]
        }
    });
</script>
