{% extends 'base.html.twig' %}
{% block content %}
    <div class="home-con">
        <div class="info-cse">
            <h1>CSE Lycée Saint-Vincent</h1>
            <p>Nous vous souhaitons la bienvenue sur le site du comité social et économique du lycée Saint-Vincent <br> à Senlis.</p>
            <p>Découvrez <span>l’équipe</span> et le <span>rôle</span> et missions de votre CSE.</p>
        </div>
        <h2>Dernières offres ponctuelles</h2>
    </div>
{% endblock %}