{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/pages/home.css') }}">
{% endblock %}

{% block content %}
    <div class="home-con">
        <div class="info-cse">
            <h1>CSE Lycée Saint-Vincent</h1>
            {{ homeContent }}
        </div>
        <h2>Dernières offres ponctuelles</h2>
    </div>
{% endblock %}