{% extends 'base.html.twig' %}

{% block title %}Partenariats{% endblock %}

{% block content %}
    <div class="partner-con">
        <h1>Nos partenaires</h1>
        <div class="partner-items-con">
            <div class="partner-items">
                <img class="partner-img" src="" alt="">
                <p>"texte synthetique"</p>
                <div>
                    <h2>Nom etp</h2>
                    <img src="images/Vectorlink.svg">
                </div>
            </div>
        </div>
        <p class="view-more">Voir plus</p>
    </div>
{% endblock %}
