
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
# Ignorer les fichiers .DS_Store créés par Mac OS X
.DS_Store

# Ignorer le dossier .idea créé par PHPStorm
.idea

# Ignorer le dossier public/uploads
public/uploads/file