<div class="footer-con">
    <div class="footer-img-con">
        <img src="">
    </div>
    <div class="footer-link-con">
        <h3>CSE Lycée Saint-Vincent</h3>
        <div class="footer-link-wrapper">
            <div>
                <a href=""> > Partenariats</a>
                <a href=""> > A propos de nous</a>
            </div>
            <div>
                <a href=""> > Billetterie</a>
                <a href=""> > Contact</a>
            </div>
        </div>
    </div>
    <div class="footer-newsletter-con">
        <h4>Inscrivez-vous aux offres</h4>
        <p>Reçevez un email à chaque nouvelle offre sur le site internet.</p>
        <div>
            <button>S'inscrire</button>
        </div>
    </div>
</div>