<div class="nav-con">
    <div class="nav-img-con">
        <img src="images/logo.png">
    </div>
    <div class="nav-link-con">
        <ul>
            <li>
                <a href="">Accueil</a>
            </li>
            <li>
                <a href="">Partenariats</a>
            </li>
            <li>
                <a href="">A propos de nous</a>
            </li>
            <li>
                <a href="">Billetterie</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</div>