<div class="sidebar-con">
    <div>
        {# Chemin d'accès #}
    </div>

    <div class="sidebar-items-con">
        <h2>Votre avis compte</h2>
        {# Le sondage #}
    </div>

    <div class="sidebar-items-con">
        <h2>Accès rapide</h2>
        <div>
            <a href="{{ path('ticketing') }}"> <span>></span> Offres permanentes / Billetteries</a>
            <a href="{{ path('contact') }}"> <span>></span> Nous contacter</a>
        </div>
    </div>

    <div class="sidebar-items-con">
        <h2>Informations de contact</h2>
        {# Les info de contact #}
        <div>
            <a> <span>></span> Par téléphone : <span class="blue">+33303030303</span></a>
            <a> <span>></span> Par email : <span class="blue">cse@lyceestvincent.fr</span></a>
            <a> <span>></span> Au lycée : <span class="blue">Bureau du CSE (1er étage bâtiment Saint-Vincent)</span></a>
        </div>
    </div>

    <div class="sidebar-items-con">
        <h2>Nos partenaires</h2>
        {# Les info de contact #}
        <div>
            {% for partner in rdmPartners %}
                {{ partner.name }}
            {% endfor %}

        </div>
        <a class="discover-partners" href="{{ path('partnership') }}">Découvrir tous nos partenaires</a>
    </div>
</div>