<div class="sidebar-con">
    <div>
        {# Chemin d'accès #}
    </div>

    <div class="sidebar-items-con">
        <h2>Votre avis compte</h2>
        {# Le sondage #}
    </div>

    <div class="sidebar-items-con">
        <h2>Accès rapide</h2>
        <div>
            <a href="{{ path('ticketing') }}"> <span>></span> Offres permanentes / Billetteries</a>
            <a href="{{ path('contact') }}"> <span>></span> Nous contacter</a>
        </div>
    </div>

    <div class="sidebar-items-con">
        <h2>Informations de contact</h2>
        {# Les info de contact #}
        <div>
            {# <a></a> #}
        </div>
    </div>
</div>