<form method="post" action="{{ path('app_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer ce partenaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn">Supprimer</button>
</form>
