{% extends './security/backoffice/base.html.twig' %}

{% block content %}
    <div class="home-con">
        <h1>Modifier {{ partner.name }}</h1>

        {{ include('security/backoffice/manage_partners/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="return-link" href="{{ path('manage_partners') }}">< Retourner aux partenaires</a>
    </div>
{% endblock %}
