{% extends './security/backoffice/base.html.twig' %}

{% block content %}
    <div class="home-con">
        <h1>Modifier le partenaire ({{ partner.name }})</h1>

        {{ include('security/backoffice/manage_partners/_form.html.twig', {'partner': partner,'button_label': 'Modifier'}) }}

        <div class="return-link">
            <a href="{{ path('manage_partners') }}">< Retourner aux partenaires</a>
        </div>
    </div>
{% endblock %}
