<head>
    <link rel="stylesheet" href="{{ asset('css/security/backoffice.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>

<body>
{% block body %}
    <div class="main-con">
        <div class="sidebar-con">
            <div>
                <a href=" {{ path('manage_home') }}">Gerer l'accueil</a>
            </div>
            <div>
                <a href="{{ path('manage_partners') }}">Gerer les partenaires</a>
            </div>
            <div>
                <a href="">Gerer l'accueil</a>
            </div>
            <div>
                <a href="">Gerer l'accueil</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}
</body>