.about-con{
    width: 90%;
    margin: 100px 0 0 80px;
}

section{
    margin-bottom: 80px;
}

/* width */
.scroll::-webkit-scrollbar{
    height: 15px;
    width: 15px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #B6A886; 
    border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #93886e; 
}

h2{
    color: #B6A886;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

section>div{
    width: 90%;
    margin: 10px 0 10px 50px;
}

section p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.scroll, .scroll *{
    padding: 0;
}

.scroll{
    display: flex;
    width: 550px;
    max-height: 200px;
    white-space: nowrap;
    overflow-x: auto;
}

.scroll>div{
    margin-right: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scroll img{
    max-height: 150px;
}

.info-con{
    width: 90%;
}

.act, .rule, .info-sup{
    margin-bottom: 20px;
    width: 90%;
}

.s-h-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #384B7B;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
}

.s-h-btn *:hover{
    cursor: pointer;
}

@media(max-width: 1024px){
    .scroll{
        width: 450px;
    }
}