.home-con{
    width: 70%;
    padding-left: 17px;
}
.info-cse{
    padding: 14px 19px 26px 14px;
    min-height: 103px;
    height: fit-content;
    background-color: #D9D9D9;
    margin-top: 89px;
}
.info-cse h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1B3168;
    margin-bottom: 20px;
}
.info-cse p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.info-cse span{
    text-decoration-line: underline;
    color: #1B3168;
}
.home-con h2{
    margin: 28px 0 21px 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
}
.limited-offers-con{
    display: flex;
    flex-direction: column;
    gap: 17px;
    min-height: 634px;
}
.limited-offer-items{
    height: 170px;
    background-color: #EFEDED;
    padding: 15px 13px;
}
.info-offer-type{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 22px;
    background-color: #1B3168;
    border-radius: 8px;
}
.info-offer-con{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-offer-type p{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 10px;
}
.body-offer-items{
    min-height: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}
.title-offer{
    font-size: 20px;
    color: #1B3168;
    font-weight: bold;
}
.footer-offer-items{
    width: 100%;
    text-align: right;
}