.home-con{
    width: 70%;
    background-color: red;
    padding-left: 17px;
}
.info-cse{
    padding: 14px 19px 26px 14px;
    min-height: 103px;
    height: fit-content;
    background-color: #D9D9D9;
    margin-top: 89px;
}
.info-cse h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1B3168;
    margin-bottom: 20px;
}
.info-cse p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.info-cse span{
    text-decoration-line: underline;
    color: #1B3168;
}
.home-con h2{
    margin: 28px 0 21px 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
}