{% extends './security/backoffice/base.html.twig' %}

{% block content %}
    <div class="home-con">
        <h1>Modifier le compte administrateur</h1>

        {{ include('security/backoffice/manage_admins/_form.html.twig', {'admin': admin,'button_label': 'Modifier'}) }}

        <div class="return-link">
            <a href="{{ path('manage_admins') }}">< Retourner aux administrateurs</a>
        </div>
    </div>
{% endblock %}
