body{
    font-family: 'Montserrat', sans-serif;
}
.main-con{
    margin-top: 50px!important;
    gap: 10%;
}
.sidebar-con-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    background-color: #1B3168;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 30px;
    height: fit-content;
    min-height: 400px;
    padding: 20px 20px;
}
.sidebar-con-admin div{
    width: 100%;
    height: 40px;
    border-radius: 11px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.sidebar-con-admin div>a{
    color: #FFFFFF;
}
.sidebar-con-admin div:hover{
    background-color: #344b82;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.return-link {
    margin: 50px 0;
}
.return-link a{
    color: #1B3168;
    font-weight: bold;
}
.active_sb{
    background-color: #344b82;
}

@media only screen and (max-width: 1000px) {
    .sidebar-con-admin{
        margin-bottom: 40px;
        gap: 15px;
        padding: 20px 20px!important;
        min-height: fit-content;
    }
    .sidebar-con-admin div{
        padding: 0;
    }
}