{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/pages/ticketing.css') }}">
{% endblock %}

{% block content %}
    <div class="home-con">
        <div class="info-cse">
            <h1>Billeterie</h1>
        </div>
        <h2>Dernières offres ponctuelles</h2>
        <form>
            <select name="typeoffre">
                <option value="3" {% if typeOffers == 3 %}selected{% endif %}>tous</option>
                <option value="1" {% if typeOffers == 1 %}selected{% endif %}>limité</option>
                <option value="0" {% if typeOffers == 0 %}selected{% endif %}>permanents</option>
            </select>
            <button type="submit">Filtrer</button>
        </form>
        <div class="limited-offers-con">
            {% for offer in Offers.data %}
                <div>
                    {{ offer.titleOffer }}
                </div>
            {% endfor %}
            {% set path = 'ticketing' %}
            {% set pages = Offers.pages %}
            {% set currentPage = Offers.page %}
            {% if typeOffers != 3 %}
                {% set pathParams = {typeoffre: typeOffers} %}
                {% set path = path ~ '?' ~ pathParams|url_encode %}
            {% endif %}
            {% include "base/pagination.html.twig" %}
        </div>
    </div>
{% endblock %}
