{% extends"base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/security/routing-error.css') }}">
{% endblock %}

{% block content %}
    <div class="error-con">
        <h1>Oops !</h1>
        <p>La page que vous cherchez est introuvable.</p>
        <button onclick="window.location.href = '{{ path('home') }}';">Retourner à l'accueil</button>
    </div>
{% endblock %}