.footer-con{
    display: flex;
    background-color: #B6A886;
    height: 102px;
    padding: 20px 165px 20px 134px;
}
.footer-img-con, .footer-img-con img{
    margin: auto 0;
    height: 111px;
    width: 244px;
    background-color: #FFFFFF;
}
.footer-link-con{
    margin-left: 47px;
}
.footer-link-wrapper{
    display: flex;
    gap: 0 20px;
}
.footer-link-wrapper div{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}
.footer-link-con h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-link-wrapper a{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-newsletter-con{
    margin-left: 227px;
}
.footer-newsletter-con h4{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.footer-newsletter-con div{
     margin-top: 18px;
 }
.footer-newsletter-con p{
    color: #FFFFFF;
    font-size: 14px;
}
.footer-newsletter-con div input{
    text-align: center;
    border: 0;
    width: 170px;
    height: 31px;
    border-radius: 7px;
}
.footer-newsletter-con div button{
    text-align: center;
    border: 0;
    width: 114px;
    height: 32px;
    border-radius: 7px;
    color: black;
}
@media screen and (max-width: 635px){
    .footer-con{
        flex-direction: column;
        gap: 10px 5px;
    }
    .footer-link-con{
        width: 100%;
        margin: 0;
    }
    .footer-link-wrapper{
        width: 100%;
    }
    .footer-newsletter-con input{
        width: 160px!important;
    }
    .footer-newsletter-con button{
        width: 80px!important;
    }
}

@media screen and (max-width: 1500px){
    .footer-con{
        padding: 20px 20px;
        height: fit-content;
    }
    .footer-newsletter-con {
        margin-left: 15%;
    }
    .footer-link-con h3{
        font-size: 15px;
    }
    .footer-link-con a{
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px){
    .footer-newsletter-con {
        margin-left: 0;
    }
}
