.nav-con{
    display: flex;
    align-items: center;
    background-color: #1B3168;
    padding-left: 9%;
    height: 111px;
}
.nav-img-con{
    height: 111px;
}
.nav-img-con img{
    background-color: #FFFFFF;
    width: 244px;
    height: 111px;
}
.nav-link-con ul{
    display: flex;
}
.nav-link-con a{
    padding: 17px 35px;
    color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
    .brg{
        display: none;
    }
    .nav-link-con{
        display: flex!important;
    }
    .nav-img-con{
        display: flex!important;
    }
}
@media screen and (max-width: 1200px) {
    .nav-link-con{
        margin: 20px 0;
        width: 80%;
        display: none;
    }
    .nav-link-con a{
        width: 100%;
    }
    .nav-link-con ul{
        gap: 20px 50px;
        flex-direction: column;
    }
    .brg{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 70%;
    }
    .nav-con{
        height: fit-content;
    }
    .brg svg{
        width: 50px;
        height: 50px;
    }
    .nav-link-con a {
        padding-left: 0;
    }
}